.container{
    display: grid;
    height: 100vh;
    grid-template-columns:20% 60% 20% ;
    grid-template-rows:20% 60% 20% ;

}
.header{
    background-color: rgb(230, 78, 78);
    grid-row: 1/2;
    grid-column: 1/4;
}
.side-nav{
    background-color: yellow;
   

}
.content{
    background-color: aqua;
}
.aside{
    background-color: pink;
}
.footer{
    background-color: blueviolet;
    grid-column: 1/4;
}
.container>div{
    font-size: 20px;
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}